:root {
  --black: #000000;
  --black-soft: #212121;
  --blue: #2196f3;
  --grey: #757575;
  --grey-soft: #e5e5e5;
  --white: #ffffff;
  --darkgrey: #2f303a;
  --notwhite: #F5F4FA;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--grey);
  font-size: 14px;
}
.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
  letter-spacing: 0.03em;
  font-style: Raleway;
}
.blue-web {
  color: var(--blue);
}
.nav-list {
  list-style: none;
}
.nav-link-blue {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--blue);
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.142;
}
.nav-link-black {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.142;
}
.contact-list {
  list-style: none;
}
.mail-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--blue);
  letter-spacing: 0.02em;

}
.mail-link:hover {
  color: #800080;
}
.mail-link:focus {
  color: #800080;
}

.phone-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--black);
  letter-spacing: 0.02em;
}
.phone-link:hover {
  color: #800080;
}
.phone-link:focus {
  color: #800080;
}
.main-section {
  background-color: var(--darkgrey);
  width: 1600px;
height: 600px;
}
.main-section-text {
  font-style: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.main-section-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--white);
  width: 200px;
  height: 50px;
  border-style none;
  cursor:  pointer;
}
.lorem-ipsum-list {
  list-style: none;
  justify-content: center;
}
h5 {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--black)
}
.lorem-ipsum-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey)
}
.what-we-do-list {
  list-style: none;
}
.what-we-do-header {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: var(--black)
}
.our-team {gap: 30px;
  padding: 200px 0;
  background-color: var(--notwhite)
}
.our-team-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
color: var(--black);
}
.our-team-list {
  list-style: none;
  width: 1600px;
  height: 648px;
  }