:root {
  --black: #000000;
  --black-soft: #212121;
  --blue: #2196f3;
  --grey: #757575;
  --grey-soft: #e5e5e5;
  --white: #ffffff;
  --darkgrey: #2f303a;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--grey);
  font-size: 14px;
}
.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
  letter-spacing: 0.03em;
  font-style: Raleway;
}
.blue-web {
  color: var(--blue);
}
.nav-list {
  list-style: none;
}
.nav-link-blue {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--blue);
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.142;
}
.nav-link-black {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.142;
}
.contact-list {
  list-style: none;
}
.mail-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--blue);
  letter-spacing: 0.02em;
  hover: ;
}
.mail-link:hover {
  color: #800080;
}
.mail-link:focus {
  color: #800080;
}

.phone-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--black);
  letter-spacing: 0.02em;
}
.phone-link:hover {
  color: #800080;
}
.phone-link:focus {
  color: #800080;
}
